<?xml version="1.0" encoding="UTF-8" ?>
<theme>
	<version value="1.4">
		<ccc available="true" />
		<guest_checkout available="true" />
		<one_page_checkout available="true" />
		<store_locator available="true" />
	</version>
	<name>Pav Store Theme</name>
	<author>PavoThemes</author>
	<positions>
		<position>userTop1</position>
		<position>userTop2</position>			  
		<position>leftColumn</position>
		<position>leftBottom</position>
		<position>leftMiddle1</position>
		<position>leftMiddle2</position>
		<position>rightColumn</position>
		<position>rightBottom</position>
		<position>rightMiddle1</position>
		<position>rightMiddle2</position>
		<position>userBottom1</position>
		<position>userBottom2</position>
		<position>userBottom2</position>
		<position>contentTop</position>
		<position>contentLeft</position>
		<position>contentRight</position>		
		<position>contentBottom</position>
	</positions>
	<modules>
		<module>pavmegamenu</module>
		<module>pavblog</module>	
		<module>pavcustom</module>	
		<module>pavproductcarousel</module>
	</modules>
	<skins>
		<skin>default</skin>		
		<skin>green</skin>
		<skin>yellow</skin>
		<skin>pink</skin>
	</skins>
	<columns>
		<column name="promotion">3</colum>
	</columns>
</theme>
