<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTechs.Common" version="16.0.0" targetFramework="net45" />
  <package id="DotLiquid" version="1.6.1.0" targetFramework="net45" />
  <package id="DotLiquid.ViewEngine" version="0.2" targetFramework="net45" />
  <package id="FileHelpers" version="2.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="PdfSharp" version="1.50.3638-beta" targetFramework="net45" />
  <package id="Spire.PDF" version="3.4" targetFramework="net45" />
  <package id="UnidecodeSharp" version="1.0.0.0" targetFramework="net45" />
  <package id="WebActivator" version="1.5" targetFramework="net45" />
</packages>